@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Urbanist:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

body {
color: #6072be;
font: 500 16px/28px 'Urbanist',Arial,sans-serif;
background: linear-gradient(0deg, #6072be 60%, #6d60a4 80%,#2B2E4A 100% );
}

a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
    font-weight: bold;
}

ul li  {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.conteiner{
    max-width: 1340px;
    margin: 0 auto;
    
    display: flex;
}

.conteiner-header{
    padding: 0 10px;
}


.info {
  color: #EEEEEE;
  font: 20px 'Comfortaa', ans-serif;
}


/*Хедер*/

.header{
    padding: 10px 0;
    /* background-color: #53354A; */
    width: 100%;
    display: block;
}

.nav, .nav_list, .nav_item-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
	
}

.nav{
    flex-grow: 1;
}

.nav_item-menu {
    font: 400 18px 'Inter', Arial, sans-serif;
}

.nav_list{
    font: 400 18px 'Inter', Arial, sans-serif;
    gap: 48px;
    
}

.nav_link-on {
    color:#CEF7EF;
    cursor: default;
}

.nav_link:hover{
    color: #CEF7EF;
}

.header_logo{
    width: 50px;
    height: 50px;
    
}

.header_logo:hover {
  filter: brightness(150%);
  transition: .4s;
}

.header_logo:not(:hover) {
  filter: brightness(100%);
  transition: .4s;
}


.logoset {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 0 0 0 ;
    border: none;
    cursor: pointer;
    position: relative;
    background: black;
    transition: .5s;
    overflow: hidden;
}


/*Контент*/

/*Профиль*/

.prof {
  color: #CEF7EF;
  padding-bottom: 30px;
}

.content {
    padding-top: 40px;
   display: flex;
   
}

.champart {
    border-radius: 50px ;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 25px;
   /* box-shadow: 10px 5px 5px black;
*/}

.prof_info {
    margin-top: 50px;
}

.prof_header {
    font: 50px/70px 'Comfortaa', ans-serif;
  }
  
.prof_text {
    margin: 10px 0 64px;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 36px;
  }

/*Пулл карточек*/

.top_hall{
  color: #6072be;
  font-size: 40px;
    width: 100%;
    height: 300px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-left: 210px;
    /*padding-right: 70px; */
}

.card_pool {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.card_pool-text {
  justify-content: center;
}

.card_pool-textcontent {
  color: #CEF7EF;
  font-size: 40px;
  font: 800 40px 'Inter', Arial, sans-serif;
}


.nft{
    user-select:none;
    width: 350px;
    height: 480px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px solid #2B2E4A;
    background-color: #2B2E4A;
    background: linear-gradient(0deg, #2B2E4A 0%, #6072be 100%);
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
    hr{
      width: 100%;
      border: none;
      border-bottom: 1px solid #a89ec9;
      margin-top: 0;
    }
    .main{
      display: flex;
      flex-direction: column;
      align-items:center;
      padding: 1rem;
      .tokenImage{
        border-radius: .5rem;
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
      .champ_disc {
        margin-top: 7px;
      }
      .champ_name{
        margin-top: 30px;
        color: #CEF7EF;
        font-size: 30px;
      }
      .description{
        margin-top: 20px;
        color: #a89ec9;
      }

      .creator{
        display: flex;
        align-items: center;
        margin-top: 40px;
        ins{
          color: #a89ec9;
          text-decoration: none;
        }
        .wrapper{
          display: flex;
          align-items: center;
          border: 1px solid #ffffff22;
          padding: .3rem;
          margin: 0;
          margin-right: .5rem;
          border-radius: 100%;
          box-shadow: inset 0 0 0 4px #000000aa;
          img{
            border-radius: 100%;
            border: 1px solid #ffffff22;
            width: 1rem;
            height: 1rem;
            object-fit: cover;
            margin: 0;
          }
        }
      }
    } 
  }

  .swiper {
    width: 470px;
    height: 600px;
  }

  .swiper-slide {
    padding-left: 60px;
  }
  
.swiper-button-next, .swiper-button-prev, .swiper-pagination{
    --swiper-navigation-color: #EEEEEE;
    --swiper-pagination-color: #EEEEEE;
}

/*РангИнфо*/

.rank_card {
  width: 500px;
  height: 200px;
  background-color: #CEF7EF;
  border-radius: 20px;
  .rank_main{
    height: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    .rank_img {
      filter: drop-shadow(5px 5px 5px #000);
    }
    .rank_text {
      font-size: 30px;
      flex-direction: column;
      display: flex;
      width: 150px;
      .rank_lp {
        font-size: 18px;
        padding-top: 10px;
      }
    }
    .rank_winlos {
      display: flex;
      align-self: flex-end;
      justify-content: end;
      width: 150px;
      .rank_winlos-t {
        font-size: 20px;
        padding-right: 30px;
        padding-bottom: 10px;
      }
    } 
  }
}



